@font-face {
    font-family: 'roboto';
    src: url("roboto.woff") format("woff"),
          url("roboto.woff2") format("woff2"),
          url("roboto.ttf") format("ttf");
    font-style: normal;
    font-weight: 100;
}

:root{
  --spacing: 1%;
}

* {
  font-family: Helvetica;
}

/* if not mobile view */
@media screen and (min-width:1001px){
  #projects #proj3 {
    transition-delay: 1s;
    transition: width 2s;
  }
  #proj3:hover{
    height: 110%;
    width: 110%;
  }
  #proj2:hover{
    height: 110%;
    width: 110%;
  }

  #projects #proj2 {
    transition-delay: 1s;
    transition: width 2s;
  }
  #proj1:hover{
    height: 110%;
    width: 110%;
  }
  #projects #proj1 {
    transition-delay: 1s;
    transition: width 2s;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.topnav{
  grid-area: h;
  overflow: hidden;
  background-color: #ffffff;
}
.topnav a{
  float: right;
  color: #557a95;
  text-align: center;
  padding: 1vw 1vw;
  text-decoration: none;
  font-size: 1.8vw;
}
.topnav a.hoverable:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #7395ae;
  color: white;
}
#page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "h"
  "m"
  "f";
}
#main {
  display: grid;
  grid-area: m;
  grid-template-columns: repeat(14, 1fr);
  grid-template-areas:
  ". p p p p p p p p p p p p ."
  ". d d d d d d d d d d d d ."
  ". t t t t t t t t t t t t .";
}

#intro {
  display: grid;
  grid-area: p;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
  "p p p h h h h h h h h h"
  "p p p d d d d d d d d d"
  "a a a a a a a a a b b b"
  "c c c e e e e e e e e e"
  "f f f f f f f f f g g g";
}

#intro #face {
  margin: var(--spacing);
  align-self: center;
  grid-area: p;
}
#intro #hello {
  animation-duration: 3s;
  animation-name: slidein;
  font-family: roboto, Helvetica;
  margin: var(--spacing);
  font-size: 4.5vw;
  grid-area: h;
}
#intro #begin{
  margin: var(--spacing);
  grid-area: d;
}
#intro #resume{
  margin: var(--spacing);
  grid-area: b;
}
#intro #continue{
  margin: var(--spacing);
  align-self: center;
  grid-area: a;
}

#intro #work h2 {
  font-family: roboto, Helvetica;
  margin: var(--spacing);
  font-size: 4.5vw;
  grid-area: h;
}
#intro h3 {
  font-family: roboto, Helvetica;
  margin: var(--spacing);
  font-size: 2.5vw;
  grid-area: h;
}
#intro p {
  font-family: roboto, Helvetica;
  margin: var(--spacing);
  font-size: 2vw;
  grid-area: h;
}
#intro #quote{
  margin: var(--spacing);
  grid-area: c;
  align-items: center;
  align-self: center;
  background:#fff;
}

#intro #work{
  margin: var(--spacing);
  grid-area: e;
}

#intro #contact{
  align-self: center;
  margin: var(--spacing);
  grid-area: g;
}

#intro #Information{
  margin: var(--spacing);
  grid-area: f;
}

#projects{
  display: grid;
  grid-area: d;
  grid-template-columns: repeat(14, 1fr);
  grid-template-areas:
  "t t t t t t t t t t t t t t"
  "p1 p1 p1 p1 . p2 p2 p2 p2 . p3 p3 p3 p3";
}
#projects h2 {
  font-family: roboto, Helvetica;
  align-self: flex-end;
  text-align: center;
  font-size: 5vw;
  grid-area: t;
}

#projects #proj1 {
  box-shadow: 0 0 7px;
  grid-area: p1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "ti ti ti ti"
  "im im im im"
  "te te te te";
}
#projects #proj1 picture{
  margin: 0.1em 1em 0;
  grid-area: im;
}
#projects #proj1 h2{
    margin: 0.5em 1em 0.5em 1em;
    grid-area: ti;
}
#projects #proj1 p{
  margin: 1em 1em 1em;
  grid-area: te;
}

#link {
  display: none;
}

#pic:hover + #link {
  display: block;

}
#projects #proj2 {
  box-shadow: 0 0 7px;
  grid-area: p2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "ti ti ti ti"
  "im im im im"
  "te te te te";
}
#projects #proj2 picture{
  margin: 0.1em 1em 0;
  grid-area: im;
}
#projects #proj2 h2{
  margin: 0.5em 1em 0.5em 1em;
  grid-area: ti;
}
#projects #proj2 p{
  margin: 1em 1em 1em;
  grid-area: te;
}

#projects #proj3 {
  box-shadow: 0 0 7px;
  grid-area: p3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "ti ti ti ti"
  "im im im im"
  "te te te te";
}
#projects #proj3 picture{
  margin: 0.1em 1em 0;
  grid-area: im;
}
#projects #proj3 h2{
  margin: 0.5em 1em 0.5em 1em;
  grid-area: ti;
}
#projects #proj3 p{
  margin: 1em 1em 1em;
  grid-area: te;
}

#footer {
  grid-area: f;
}
